/*
_     _____ _ _ ____               _
| |   |  ___/ / |___ \   _ __   ___| |_
| |   | |_  | | | __) | | '_ \ / _ \ __|
| |___|  _| | | |/ __/ _| | | |  __/ |_
|_____|_|   |_|_|_____(_)_| |_|\___|\__|

 Made with love by LF112 [https://lf112.net]
 (｢･ω･)｢ Do you believe in destiny and fate?
+-------------------------------------------------------------------
|  ____ _____ ____ ___  
| | __ )_   _/ ___/ _ \ 
| |  _ \ | || |  | | | |
| | |_) || || |__| |_| |
| |____/ |_| \____\___/ 
|
| BTCO - BT-Panel Responsive solution. [ https://github.com/LF112/BTCO ]
+-------------------------------------------------------------------
*/

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Titillium Web,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",sans-serif;
}

body{ background-color: #303030; }

header{
    width: 100%;
    background: #515151;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.BTCO-Header_row{
    margin: 0 auto;
    height: 42px;
    min-width: 60%;
    max-width: 100%;
    position: relative;
    padding: 0 12px;
    z-index: 1000;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.BTCO-Header_row .BTCO-Title{
    float: none;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    margin-left: 6px;
}

.BTCO-Header_row .BTCO-SideStatus{
    position: absolute;
    margin: 5px 0;
    left: 85px;
    top: 0;
    border-radius: 3px;
    padding: 0 12px;
    border-left: 3px solid rgb(57, 57, 57);
}

.BTCO-Header_row .BTCO-SideStatus .BTCO-BTPro{
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05em;
    padding: 3px 4px;
    background-color: rgb(57, 57, 57);
    box-sizing: border-box;
    text-align: center;
}

.BTCO-Header_row .BTCO-SideMenu{
    float: right;
    right: 0;
    color: #fff;
    line-height: 42px;
    margin-right: 6px;
}

.BTCO-Header_row .BTCO-SideMenu .BTCO-Menu{
    padding: 4px 0;
    background-color: #515151;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    z-index: 25;
    position: absolute;
    top: 20px;
    right: 16px;
    min-width: 88px;
    font-size: 14px;
}

.BTCO-Header_row .BTCO-SideMenu .BTCO-Menu li{
    list-style: none;
    line-height: 30px;
    padding: 0 14px;
    cursor: pointer;
    text-align: left;
    color: #fff;
}

.BTCO-Header_row .BTCO-SideMenu .BTCO-Menu li:hover {
    background-color: rgba(48, 48, 48, 0.38);
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 main{
    color: #fff;
    min-height: 10em;
    min-width: 60%;
    max-width: 100%;
    position: relative;
    text-align: center;
    padding: 12px;
    margin-top: 42px;
 }

 main .BTCO-systemInfoList{
    margin: 0;
    padding: 0;
    list-style: none;
 }

 main .BTCO-systemInfoList li{
    display: inline-block;
 }

 main .BTCO-systemInfoList .BTCO-APP_Main{
    width: 145px;
    height: 50px;
    margin: 0 5px;
    border-radius: 0 2px 2px 0;
    background-color: rgba(81, 81, 81, 0.48);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
 }

 main .BTCO-systemInfoList .BTCO-APP_StatusColor{
    width: 10px;
    height: 45px;
    position: absolute;
    background: rgb(85, 85, 85);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.22);
 }

 main .BTCO-systemInfoList .BTCO-APP_Content{
    padding: 5px;
    width: 135px;
    position: absolute;
 }

main .BTCO-systemInfoList .BTCO-APP_Content .Status{
    font-size: 15px;
    line-height: 1.5;
}

 main .BTCO-systemInfoList .BTCO-APP_Content .Content{
    font-size: 12px;
    line-height: 0.8;
 }

 main .BTCO-systemInfoList .BTCO-APP_ProgressBox{
    float: right;
    position: relative;
    background-color: rgba(51, 51, 51, 0.82)!important;
    margin-top: 28px;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.05em;
    padding: 2px 5px;
    border-radius: 5px 0 0 0;
 }

 main .BTCO-systemInfoList .BTCO-APP_Progress{
    position: absolute;
    margin-top: 45px;
    width: 145px;
    height: 5px;
    vertical-align: middle;
 }

 main .BTCO-systemInfoList .BTCO-APP_Progress .BTCO-APP_Progress-P1{
    height: 5px!important;
    background-color: rgba(100, 100, 100, 1);
    overflow: hidden;
    position: relative;
    vertical-align: middle;
 }

 main .BTCO-systemInfoList .BTCO-APP_Progress .BTCO-APP_Progress-P1 .BTCO-APP_Progress-P2{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 145, 228, 0.69);
    text-align: right;
    line-height: 1;
    transition: width 2s ease;
 }

 main .BTCO-PanelInfo{
    margin-top: 10px;
    min-width: 60%;
    max-width: 100%;
    position: relative;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main{
    width: 100%;
    height: 145px;
    border-radius: 2px;
    background-color: rgba(81, 81, 81, 0.48);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Sys{
    position: absolute;
    border-radius: 0 0 6px 0;
    background-color: rgba(51, 51, 51, 0.82)!important;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Sys .BTCO-PI_Sysinfo{
    display: inline-block;
    padding: 3px 6px 3px 0;
    font-size: 13px;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Sys .BTCO-PI_SysIcon{
    float: left;
    min-width: 16px;
    min-height: 23px;
    padding: 2px 6px;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview{
    padding: 0;
    height: 40px;
    width: 100%;
    position: absolute;
    margin-top: 105px;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview .BTCO-PI_Ov-Line{
    width: 100%;
    height: 1px;
    background: #c5c5c5;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview .BTCO-PI_Ov-Box{
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: nowrap;
    margin-top: 5px;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview .BTCO-PI_Ov-Box ul{
    margin: 0;
    padding: 0;
    list-style: none;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview .BTCO-PI_Ov-Box ul li{
    display: inline-block;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview .BTCO-PI_Ov-Box ul li .BTCO-PI_Ov-Box_P1{
    font-size: 16px;
    line-height: 1;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview .BTCO-PI_Ov-Box ul li .BTCO-PI_Ov-Box_P2{
    font-size: 12px;
    line-height: 1.3;
    color: #e6e6e6;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Overview .BTCO-PI_Ov-Box ul li .BTCO-PI_Ov-Box_P3{
    width: 1px;
    height: 22px;
    background: #c5c5c5;
    margin: 0 15px;
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_IPview{
    position: absolute;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    background: rgba(85, 85, 85, 0.82)!important;
    margin-top: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Menu{
    position: absolute;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 25px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
 }

 main .BTCO-PanelInfo .BTCO-PI_Main .BTCO-PI_Menu a{
    margin: 0 5px;
    color: #fff;
    border: 0;
    text-decoration: none;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 2px;
    background: #393939;
 }

 main .BTCO-ServerFlow{
   margin-top: 15px;
   min-width: 60%;
   max-width: 100%;
   position: relative;
 }

 main .BTCO-ServerFlow .BTCO-SF_Main{
   width: 100%;
   height: 255px;
   border-radius: 2px;
   background-color: rgba(81, 81, 81, 0.48);
   box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
 }

 main .BTCO-ServerFlow .BTCO-SF_Main .BTCO-SF_Highcharts{
   width: 100%;
   height: 185px;
   position: absolute;
   margin-top: 65px;
 }

 main .BTCO-ServerFlow .BTCO-SF_Main .BTCO-SF_InfoBox{
   flex-direction: row;
   align-items: center;
   flex-shrink: 0;
   flex-wrap: nowrap;
   margin-top: 10px;
}

main .BTCO-ServerFlow .BTCO-SF_Main .BTCO-SF_InfoBox ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

main .BTCO-ServerFlow .BTCO-SF_Main .BTCO-SF_InfoBox ul li{
   display: inline-block;
}

main .BTCO-ServerFlow .BTCO-SF_Main .BTCO-SF_InfoBox ul li .BTCO-SF_InfoBox_P1{
   font-size: 16px;
   line-height: 1;
}

main .BTCO-ServerFlow .BTCO-SF_Main .BTCO-SF_InfoBox ul li .BTCO-SF_InfoBox_P2{
   font-size: 12px;
   line-height: 1.3;
   color: #e6e6e6;
}

main .BTCO-ServerFlow .BTCO-SF_Main .BTCO-SF_InfoBox ul li .BTCO-SF_InfoBox_P3{
   width: 1px;
   height: 22px;
   background: #c5c5c5;
   margin: 0 10px;
}

.BTCO-LF_POP{
   position: fixed;
   z-index: 100000;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
}

.BTCO-LF_POP .BTCO-LF_Ghost{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: .6;
}

.BTCO-LF_POP .BTCO-LF_POP-Main{
   position: relative;
   border-radius: 4px;
   width: 245px;
   min-height: 95px;
   background: rgb(85, 85, 85);
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   padding: 0;
}