/*
_     _____ _ _ ____               _
| |   |  ___/ / |___ \   _ __   ___| |_
| |   | |_  | | | __) | | '_ \ / _ \ __|
| |___|  _| | | |/ __/ _| | | |  __/ |_
|_____|_|   |_|_|_____(_)_| |_|\___|\__|

 Made with love by LF112 [https://lf112.net]
 (｢･ω･)｢ Do you believe in destiny and fate?
+-------------------------------------------------------------------
|  ____ _____ ____ ___  
| | __ )_   _/ ___/ _ \ 
| |  _ \ | || |  | | | |
| | |_) || || |__| |_| |
| |____/ |_| \____\___/ 
|
| BTCO - BT-Panel Responsive solution. [ https://github.com/LF112/BTCO ]
+-------------------------------------------------------------------
*/

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Titillium Web,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",sans-serif;
}

body{ background-color: #303030; }

header{
    width: 100%;
    background: #515151;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.BTCO-Header_row{
    margin: 0 auto;
    height: 42px;
    min-width: 60%;
    max-width: 100%;
    position: relative;
    padding: 0 12px;
    z-index: 1000;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.BTCO-Header_row .BTCO-Title{
    float: none;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    margin-left: 6px;
}

.BTCO-Header_row .BTCO-SideStatus{
    position: absolute;
    margin: 5px 0;
    left: 85px;
    top: 0;
    border-radius: 3px;
    padding: 0 12px;
    border-left: 3px solid rgb(57, 57, 57);
}

.BTCO-Header_row .BTCO-SideStatus .BTCO-BTPro{
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05em;
    padding: 3px 4px;
    background-color: #1919196b!important;
    box-sizing: border-box;
    text-align: center;
}